SERVER_NAME=Cool Server Name
NATION=CAN
SERVER_PASS=GreatPassword1
HOST_USER=coolUser
HOST_PASS=coolPassword
ADMINS=coolUser,my1Friend,another1
SERVER_PORT=2350
P2P_PORT=3450
RPC_PORT=5000
MYSQL_DATABASE=aseco
MYSQL_USER=tmf
MYSQL_PASSWORD=greatDBpassword
MYSQL_ROOT_PASSWORD=greatRootDBpassword